---
http_interactions:
- request:
    method: get
    uri: http://api.zippopotam.us/fr/01000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Charset:
      - UTF-8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"post code\": \"01000\", \"country\": \"France\", \"country abbreviation\":
        \"FR\", \"places\": [{\"place name\": \"Bourg-en-Bresse\", \"longitude\":
        \"5.2258\", \"state\": \"Rh\\u00f4ne-Alpes\", \"state abbreviation\": \"B9\",
        \"latitude\": \"46.2057\"}, {\"place name\": \"Saint-Denis-l\\u00e8s-Bourg\",
        \"longitude\": \"5.1892\", \"state\": \"Rh\\u00f4ne-Alpes\", \"state abbreviation\":
        \"B9\", \"latitude\": \"46.2022\"}]}"
  recorded_at: Mon, 13 Jan 2014 13:48:09 GMT
recorded_with: VCR 2.8.0
