---
http_interactions:
- request:
    method: get
    uri: http://api.zippopotam.us/us/90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Charset:
      - UTF-8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"post code\": \"90210\", \"country\": \"United States\", \"country
        abbreviation\": \"US\", \"places\": [{\"place name\": \"Beverly Hills\", \"longitude\":
        \"-118.4065\", \"state\": \"California\", \"state abbreviation\": \"CA\",
        \"latitude\": \"34.0901\"}]}"
  recorded_at: Mon, 13 Jan 2014 13:43:09 GMT
recorded_with: VCR 2.8.0
